@model API.Model.Example

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Example</h4>
    <hr />
    <table>
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Name)</td><td>@Html.DisplayNameFor(model => model.SubExamples)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @for (int i = 0; i < (int)Model.SubExamples.Count; i++)
                    {
                        @Model.SubExamples.ElementAt(i).Title
                        
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
